In [ ]:
%%capture

!jupyter nbconvert --to html Document_Classification.ipynb

In [9]:
!pip install contractions

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting contractions
  Downloading contractions-0.1.72-py2.py3-none-any.whl (8.3 kB)
Collecting textsearch>=0.0.21
  Downloading textsearch-0.0.24-py2.py3-none-any.whl (7.6 kB)
Collecting anyascii
  Downloading anyascii-0.3.1-py3-none-any.whl (287 kB)
     |████████████████████████████████| 287 kB 8.2 MB/s
Collecting pyahocorasick
  Downloading pyahocorasick-1.4.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (106 kB)
     |████████████████████████████████| 106 kB 39.2 MB/s
Installing collected packages: pyahocorasick, anyascii, textsearch, contractions
Successfully installed anyascii-0.3.1 contractions-0.1.72 pyahocorasick-1.4.4 textsearch-0.0.24

In [10]:
# Carga de las librerías
from google.colab import drive
import contractions
import pandas as pd
import numpy as np
import json
from pandas import json_normalize
from os.path import exists
import os
import re
import tensorflow as tf
from keras.preprocessing.text import Tokenizer
from keras.models import Sequential
from keras.optimizers import Adam
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.layers import Embedding
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Dense, Input, Dropout, LSTM, Activation, Softmax
from tensorflow.keras.layers import Embedding
from tensorflow.keras.preprocessing import sequence
from tensorflow.keras.initializers import glorot_uniform

In [11]:
# Conexión a Google Drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [12]:
#Carga de los datos de entrenamiento
def create_df_from_json(file_dir):
  # returns a dataframe from a json with the following structure:
  # first line is the number of example
  # the reaming of the document contains one json per line
  # parameters
  # file_dir: the absolute route to the file

  df = pd.DataFrame()
  with open(file_dir) as f:
      n = f.readline()
      for i in range(int(n)):
        json_str = f.readline()
        json_in = json.loads(json_str)
        df_tmp = json_normalize(json_in) 
        df = pd.concat([df, df_tmp]) 
  return df

In [13]:
def load_data(reload, file_out_dir, training_abs_dir, test_in_abs_dir, test_out_abs_dir):
  # params
  # reload: if true, the data is reload from the file sources
  # file_out_dir: directory where to save the merged data from the training and test files
  # training_abs_dir: absolute route to the training file dataset
  # test_in_abs_dir: absolute route to the test file in dataset. It does not include the output
  # test_itest_out_abs_dirn_abs_dir: absolute route to the test output file dataset.
  if not reload and os.path.exists(file_out_dir):
    df = pd.read_csv(file_out_dir)
  else:
    if not os.path.exists(file_out_dir):
      os.mkdir(file_out_dir)
    df_training = create_df_from_json(training_abs_dir)
    df_test = create_df_from_json(test_in_abs_dir)
    df_test = df_test.reset_index(drop=True)
    df_test_out = pd.read_csv(test_out_abs_dir, header=None)
    df_test['category'] = df_test_out
    df = pd.concat([df_test, df_training])
    df =  df.reset_index(drop=True)
    df.to_csv(file_out_dir, index=False)
  return df

In [14]:
reload = False
file_out_dir = '/content/gdrive/MyDrive/ColabNotebooks/PostClassifier/merged_data.csv'
training_abs_dir = '/content/gdrive/MyDrive/ColabNotebooks/PostClassifier/training.json'
test_in_abs_dir = '/content/gdrive/MyDrive/ColabNotebooks/PostClassifier/sample-test.in.json'
test_out_abs_dir = '/content/gdrive/MyDrive/ColabNotebooks/PostClassifier/sample-test.out.json'
df = load_data(reload, file_out_dir, training_abs_dir, test_in_abs_dir, test_out_abs_dir)

In [15]:
df.head(15)

,city,section,heading,category
0,chicago,for-sale,Madden NFL 25 XBOX 360. Brand New!,video-games
1,paris.en,housing,looking for room to rent.,wanted-housing
2,newyork,for-sale,two DS game,video-games
3,seattle,housing,map,shared
4,singapore,services,Good Looking Asian Sensation N aughty Girl ---...,therapeutic
5,newyork,for-sale,map,video-games
6,singapore,for-sale,"Panasonic ,2doors fridge(238L)($220 with deliv...",appliances
7,dubai.en,services,SWEET FRIENDLY COMPANION:- monaliza,therapeutic
8,london,services,&#10031; Indulge yourself to the body to body ...,therapeutic
9,chicago,community,Enough,artists
10,london,for-sale,Brand New Xperia T,cell-phones
11,london,community,Shaadi Single Muslims,general
12,seattle,housing,"ER Nurse wants a responsible, quiet, clean roo...",wanted-housing
13,seattle,housing,490 $ ROOM for rent available (Bellevue),shared
14,london,housing,Lovely two bedroom Los Angeles house,wanted-housing

## Data Cleaning

In [16]:
def remove_contraction(heading):
  expanded_words = []   
  for word in heading.split():
    expanded_words.append(contractions.fix(word))  
    
  expanded_text = ' '.join(expanded_words)
  return expanded_text

In [19]:
def clean_text(text):
    # normalize te4xt
    cleaned_text = text.lower()
    # remove contractions
    cleaned_text = remove_contraction(cleaned_text)
    # remove emojis
    cleaned_text = re.sub(r'[&#?[\d|\w]+;', '', cleaned_text)
    # remove hyperlinks    
    cleaned_text = re.sub(r'((http|https)://)?[a-zA-Z0-9./?:@-_=#]+\.([a-zA-Z]){2,6}([a-zA-Z0-9.&/?:@\-_=#])*', '', cleaned_text)
    # substitute punctuactions by blank spaces
    cleaned_text = re.sub(r'[^\w\s_]+|_', ' ', cleaned_text)
    cleaned_text = cleaned_text.replace("_", "")
    # remove numbers
    cleaned_text = re.sub(r'\d+\w+|\d+', '', cleaned_text)
    #cleaned_text = re.sub(r'_', ' ', cleaned_text)
    # delete extra spaces
    cleaned_text = re.sub(r'\s+', ' ', cleaned_text)   
    return cleaned_text

In [20]:
heading_cleaned = []
for t in df['heading']:
  heading_cleaned.append(clean_text(t))
df['heading_cleaned'] = heading_cleaned

In [ ]:
df[['heading', 'heading_cleaned']].head(20)

,heading,heading_cleaned
0,Madden NFL 25 XBOX 360. Brand New!,madden nfl xbox brand new
1,looking for room to rent.,looking for room to rent
2,two DS game,two ds game
3,map,map
4,Good Looking Asian Sensation N aughty Girl ---...,good looking asian sensation n aughty girl ind...
5,map,map
6,"Panasonic ,2doors fridge(238L)($220 with deliv...",panasonic fridge with delivery warranty
7,SWEET FRIENDLY COMPANION:- monaliza,sweet friendly companion monaliza
8,&#10031; Indulge yourself to the body to body ...,indulge yourself to the body to body sensual ...
9,Enough,enough
10,Brand New Xperia T,brand new xperia t
11,Shaadi Single Muslims,shaadi single muslims
12,"ER Nurse wants a responsible, quiet, clean roo...",er nurse wants a responsible quiet clean roommate
13,490 $ ROOM for rent available (Bellevue),room for rent available bellevue
14,Lovely two bedroom Los Angeles house,lovely two bedroom los angeles house
15,PERFECT CONDITION MOTOROLA TRIUMPH,perfect condition motorola triumph
16,CONPRAMOS CARROS VIEJOS!!!! SERVICIO DE GRUA B...,conpramos carros viejos servicio de grua barato
17,For Sale - Samsung Galaxy Tab Chargers (Wall +...,for sale samsung galaxy tab chargers wall car ...
18,Full Time Nanny Needed for baby,full time nanny needed for baby
19,206-375-3387 opening for cleaning move out/in,opening for cleaning move out in

In [ ]:
# df.to_excel('/content/gdrive/MyDrive/ColabNotebooks/PostClassifier/cleaned_data.xlsx', index=False)

Calculamos una nueva columna sintética con la información de las columnas perdictoras.

In [21]:
df['header_tranformed']  = df['city'] + ' ' + df['section'] + ' '+ df['heading_cleaned']

## Entrenamiento del modelo

¿Cuáles son los resultados óptimos que podemos esperar de nuestro modelo, dados los datos de entrada?

La clasificación de texto es una tarea que a los humanos se nos da especialmente bien, por lo que, si conseguimos que el modelo ahaga unas predicciones con una precisión similar a la de un humano, podemos estar satisfechos con el resultado.

Para establecer un nivel de referencia, tomaremos una muestra y la clasificaremos manualmente.

Tomamos 100 datos de muestra al azar:

In [22]:
data_sample = df[['city', 'section', 'heading', 'category']].sample(frac=1).head(100)

Persistimos la muestra en un fichero externo.

In [ ]:
#data_sample.to_excel('/content/gdrive/MyDrive/ColabNotebooks/PostClassifier/sample_complete.xlsx', index=False)

Tras hacer la clasificación automática, se han observado varios problemas:

*   Existen muchos registros con texto aleatorio como 'map', que son imposibles de clasificar
*   Otros registros tienen una clasificación ambigüa o directamente están mal clasificados

Realizando la clasificación manual, se ha obtenido un 75% de acierto. Añadimos, un tanto arbitrariamente, un margen de un 5% de posibles errores cometidos en el proceso manual, más posibles sesgos introducidos en el método de muestreo, por ejemplo, haber tomado por casualidad textos especialmente difíciles de clasificar.

Por tanto, tomamos un 75-80% como uvalor de referencia a alcanzar. En ningún caso s eespera, con la calidad de entrada, una precisión alta del modelo en la clasificación.

¿Existen clases con pocos datos?

In [23]:
df.groupby(['category'])['category'].count()

category
activities             639
appliances            2496
artists                793
automotive            2040
cell-phones           3066
childcare             2218
general               1760
household-services    2424
housing                688
photography           2427
real-estate           1806
shared                4074
temporary             2693
therapeutic           3808
video-games           2214
wanted-housing        2441
Name: category, dtype: int64

### Arquitectura del modelo

Tokenización del vocabulario:

In [24]:
X = df.loc[:, df.columns != 'category']
y = df['category']
X_train, X_, y_train, y_ = train_test_split(X, y,test_size=0.40, random_state=1, shuffle=True)
X_cv, X_test, y_cv, y_test = train_test_split(X_,y_,test_size=0.50, random_state=1)

In [25]:
def one_hot(array):
    unique, inverse = np.unique(array, return_inverse=True)
    onehot = np.eye(unique.shape[0])[inverse]
    return onehot

In [26]:
def tokenize_corpus(corpus):
  my_tokenizer = Tokenizer(oov_token="<OOV>")
  my_tokenizer.fit_on_texts(corpus)
  return my_tokenizer

#my_tokenizer.texts_to_sequences(corpus)

In [30]:
tokenized_corpus = tokenize_corpus(X_train['header_tranformed'])

In [31]:
len(tokenized_corpus.word_index)

10238

Dado que los textos no son excesivamente largos, no parece que tengamos que hacer frente al problema del desvanecimiento del gradiente, por lo que usaremos un modelo LSTM con una base de word embedding preentrenada.

In [34]:
#!unzip gdrive/MyDrive/ColabNotebooks/PostClassifier/glove*.zip

Archive:  gdrive/MyDrive/ColabNotebooks/PostClassifier/glove.6B.zip
  inflating: glove.6B.50d.txt
  inflating: glove.6B.100d.txt
  inflating: glove.6B.200d.txt
  inflating: glove.6B.300d.txt

In [35]:
def create_embedding_layer(tokenized_corpus, glove_dir, embedding_dim, trainable, max_len_sequence):
  # Calculate the matrix weights for the input corpus
  #params:
  # tokenizedd_corpus: the text after the cleaning and tokenization process
  # glove_dir: the method uses the glove pretrained embedding vector space. The value of this param is the directory where it is allocated
  # The dimension of the embedding
  
  embeddings_index = {}

  f = open(glove_dir)
  for line in f:
      values = line.split()
      word = values[0]
      coefs = np.asarray(values[1:],dtype='float32')
      embeddings_index[word] = coefs
  f.close()

  print('Found %s word vectors.' % len(embeddings_index))

  vocab_size = len(tokenized_corpus.word_index) + 1

  embedding_matrix = np.zeros((vocab_size,embedding_dim))
  for word , i in tokenized_corpus.word_index.items():
    embedding_vector = embeddings_index.get(word)
    if embedding_vector is not None:
        embedding_matrix[i] = embedding_vector

  embedding_layer = Embedding(input_dim=len(tokenized_corpus.word_index)+ 1,
                              output_dim=embedding_dim,
                              weights=[embedding_matrix],
                              input_length=max_len_sequence,
                              trainable=trainable)        
  return embedding_layer

In [36]:
#glove_dir = '/content/gdrive/MyDrive/ColabNotebooks/PostClassifier/merged_data.csv/glove.6B.100d.txt'
embedding_layer = create_embedding_layer(tokenized_corpus, glove_dir = "glove.6B.100d.txt", embedding_dim = 100, trainable = False, max_len_sequence = 80)

Found 400000 word vectors.

Establecemos la capa de embedding del modelo

In [37]:
def build_model(embedding_layer, embedding_dim, max_len_sequence, num_classes):
  model=Sequential()
  model.add(embedding_layer)
  model.add(LSTM(units=64, input_shape=(max_len_sequence, embedding_dim)))
  model.add(Dropout(0.7))
  model.add(Dense(units=num_classes, activation='softmax'))

# kernel_regularizer=tf.keras.regularizers.l2(0.1)
  return model

In [38]:
model = build_model(embedding_layer, embedding_dim = 100, max_len_sequence = 80, num_classes = 16)

In [39]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 80, 100)           1023900

 lstm (LSTM)                 (None, 64)                42240

 dropout (Dropout)           (None, 64)                0

 dense (Dense)               (None, 16)                1040

=================================================================
Total params: 1,067,180
Trainable params: 43,280
Non-trainable params: 1,023,900
_________________________________________________________________

Compilamos el modelo.

In [40]:
model.compile(optimizer=Adam(learning_rate=0.01), 
              loss='categorical_crossentropy',
              metrics=['accuracy'])

Construímos  los datos de entrenamiento, validación y test

In [41]:
#sequences = tokenized_corpus.texts_to_sequences(df['heading_cleaned'])
X_train_seq = pad_sequences(tokenized_corpus.texts_to_sequences(X_train['header_tranformed']), maxlen=80)
y_train_seq = one_hot(y_train)

X_cv_seq = pad_sequences(tokenized_corpus.texts_to_sequences(X_cv['header_tranformed']), maxlen=80)
y_cv_seq = one_hot(y_cv)

X_test_seq = pad_sequences(tokenized_corpus.texts_to_sequences(X_test['header_tranformed']), maxlen=80)
y_test_seq = one_hot(y_test)

In [42]:
# fit the model
history = model.fit(X_train_seq, y_train_seq,epochs=20, batch_size=100, verbose=1)

Epoch 1/20
214/214 [==============================] - 25s 105ms/step - loss: 0.9758 - accuracy: 0.6310
Epoch 2/20
214/214 [==============================] - 23s 105ms/step - loss: 0.7404 - accuracy: 0.7189
Epoch 3/20
214/214 [==============================] - 22s 105ms/step - loss: 0.5916 - accuracy: 0.7581
Epoch 4/20
214/214 [==============================] - 25s 119ms/step - loss: 0.5540 - accuracy: 0.7758
Epoch 5/20
214/214 [==============================] - 23s 108ms/step - loss: 0.5252 - accuracy: 0.7867
Epoch 6/20
214/214 [==============================] - 25s 115ms/step - loss: 0.5179 - accuracy: 0.7921
Epoch 7/20
214/214 [==============================] - 22s 104ms/step - loss: 0.4915 - accuracy: 0.8025
Epoch 8/20
214/214 [==============================] - 24s 114ms/step - loss: 0.4813 - accuracy: 0.8025
Epoch 9/20
214/214 [==============================] - 23s 108ms/step - loss: 0.4747 - accuracy: 0.8046
Epoch 10/20
214/214 [==============================] - 23s 109ms/step - loss: 0.4593 - accuracy: 0.8114
Epoch 11/20
214/214 [==============================] - 23s 107ms/step - loss: 0.4416 - accuracy: 0.8199
Epoch 12/20
214/214 [==============================] - 23s 106ms/step - loss: 0.4430 - accuracy: 0.8199
Epoch 13/20
214/214 [==============================] - 23s 108ms/step - loss: 0.4339 - accuracy: 0.8205
Epoch 14/20
214/214 [==============================] - 26s 120ms/step - loss: 0.4396 - accuracy: 0.8207
Epoch 15/20
214/214 [==============================] - 23s 108ms/step - loss: 0.4295 - accuracy: 0.8254
Epoch 16/20
214/214 [==============================] - 23s 107ms/step - loss: 0.4236 - accuracy: 0.8259
Epoch 17/20
214/214 [==============================] - 23s 108ms/step - loss: 0.4282 - accuracy: 0.8232
Epoch 18/20
214/214 [==============================] - 23s 109ms/step - loss: 0.4124 - accuracy: 0.8293
Epoch 19/20
214/214 [==============================] - 23s 106ms/step - loss: 0.4134 - accuracy: 0.8304
Epoch 20/20
214/214 [==============================] - 23s 110ms/step - loss: 0.4095 - accuracy: 0.8302

In [43]:
val_loss, val_acc = model.evaluate(X_cv_seq, y_cv_seq)
print()
print("Test accuracy = ", val_acc)

223/223 [==============================] - 4s 16ms/step - loss: 0.4845 - accuracy: 0.8140

Test accuracy =  0.8139665722846985

In [44]:
test_loss, test_acc = model.evaluate(X_test_seq, y_test_seq)
print()
print("Test accuracy = ", test_acc)

223/223 [==============================] - 3s 15ms/step - loss: 0.4841 - accuracy: 0.8150

Test accuracy =  0.8149760961532593

In [54]:
# Guardar el Modelo
model.save('/content/gdrive/MyDrive/ColabNotebooks/PostClassifier/document_classification.h5')

# Recrea exactamente el mismo modelo solo desde el archivo
#new_model = keras.models.load_model('path_to_my_model.h5')

In [ ]:
#  = np.argmax(model.predict(X_test_seq), axis=1) X_test['pred']

223/223 [==============================] - 3s 15ms/step

In [45]:
X_test['real'] = y_test

In [46]:
preds = np.argmax(model.predict(X_test_seq), axis=1) 
verbose_pred = []
for index in preds:
  verbose_pred.append(sorted(y_test.unique())[index])

223/223 [==============================] - 4s 16ms/step

In [49]:
X_test['pred'] = verbose_pred

In [50]:
X_test[X_test['pred'] == X_test['real']]

,city,section,heading,heading_cleaned,header_tranformed,real,pred
28082,chicago,community,Reliable and Loving Home Daycare,reliable and loving home daycare,chicago community reliable and loving home day...,childcare,childcare
753,mumbai,housing,PG ROOM AVAILABLE AT BANDRA (W) CALL MANISH - ...,pg room available at bandra w call manish,mumbai housing pg room available at bandra w c...,shared,shared
32265,singapore,for-sale,FS : New Samsung Galaxy SIV (4) LTE 4G Warrant...,fs new samsung galaxy siv lte warranty intact,singapore for-sale fs new samsung galaxy siv l...,cell-phones,cell-phones
3723,seattle,housing,3 Rooms for Rent to Green River Community Coll...,rooms for rent to green river community colle...,seattle housing rooms for rent to green river...,shared,shared
5740,bangalore,services,&#10084;*¨¨*PRIYA*¨¨*&#10084;9739355685&#1...,priya priya,bangalore services priya priya,therapeutic,therapeutic
...,...,...,...,...,...,...,...
1882,seattle,services,Mobile Mechanic - My Garage or Yours,mobile mechanic my garage or yours,seattle services mobile mechanic my garage or ...,automotive,automotive
35036,paris.en,services,Professional &amp; Experienced Cleaner Available,professional experienced cleaner available,paris.en services professional experienced cle...,household-services,household-services
5544,hyderabad,services,SPECIALs RIGHT NOW !CLICK HERE !!!!MR.AMITH-78...,specials right now click here,hyderabad services specials right now click here,therapeutic,therapeutic
32512,singapore,for-sale,Tecno 8.5kg Washing machine($200 with delivery...,tecno washing machine with delivery warranty,singapore for-sale tecno washing machine with ...,appliances,appliances
26614,chicago,for-sale,Super Smash Bros Melee for GameCube - complete,super smash bros melee for gamecube complete,chicago for-sale super smash bros melee for ga...,video-games,video-games

Se ha conseguido una accuracy en torno a lo que puede conseguir un humano, por lo que se considera resuelto el problema.

# Análisis de errores

Como última fase del proyecto, analizamos manualmente algunos errores para ver qué patrón presentan.

In [48]:
X_test[X_test['pred'] != X_test['real']]

,city,section,heading,heading_cleaned,header_tranformed,real,pred
24025,seattle,community,8 Great Parenting Tips for Sarcastic Parents,great parenting tips for sarcastic parents,seattle community great parenting tips for sa...,general,childcare
8456,paris.en,housing,Urgent!Beautiful 1br Apt Central Paris Last Mi...,urgent beautiful apt central paris last minute...,paris.en housing urgent beautiful apt central ...,temporary,wanted-housing
27563,chicago,housing,single dwelling living space&gt;READ,single dwelling living read,chicago housing single dwelling living read,wanted-housing,shared
988,newyork,housing,Sunny Room in Private Apartment,sunny room in private apartment,newyork housing sunny room in private apartment,temporary,shared
2952,chicago,for-sale,map,map,chicago for-sale map,cell-phones,appliances
...,...,...,...,...,...,...,...
1005,newyork,for-sale,map,map,newyork for-sale map,cell-phones,appliances
28537,chicago,services,FAST SAME DAY TITLE WORK.SPEEDY TITLE SERVICE LLC,fast same day title title service llc,chicago services fast same day title title ser...,automotive,real-estate
22416,seattle,for-sale,map,map,seattle for-sale map,video-games,appliances
2529,newyork,housing,Furnished gigantic room in 3BR UWS Apt!,furnished gigantic room in uws apt,newyork housing furnished gigantic room in uws...,temporary,shared
8815,chicago,services,Barrington Sealcoating,barrington sealcoating,chicago services barrington sealcoating,household-services,real-estate